{% extends "base.html" %}
{% block body %}
<script type=text/javascript>
    $(() => {
      $('a#calculate').bind('click', function() {
        $.getJSON($SCRIPT_ROOT + '/_add_numbers', {
          a: $('input[name="a"]').val(),
          b: $('input[name="b"]').val()
        }, function(data) {
          $("#result").text(data.result);
        });
        return false;
      });
    });
</script>
<h1>jQuery Example</h1>
<p><input type=text size=5 name=a> +
    <input type=text size=5 name=b> =
    <span id=result>?</span>
<p><a href=# class="w3-button w3-blue" id=calculate>calculate server side</a>


<form enctype=multipart/form-data action="{{ url_for('upload_file') }}" method="POST">
    <input type=file name="file">
    <input class="w3-button w3-blue" type="submit">
</form>
{% endblock %}