{% extends "base.html" %}
{% block body %}
<script>
    function filelabel() {$('#file-label').html($('#file').val())}
</script>
<div>
    <h2>Jobs (Create and view jobs):</h2>
    <button class="w3-margin-bottom w3-button w3-blue" id="newJob">Create New Job</button>

    <div class="w3-container w3-card-4" id="newjobform">
        <form class="w3-margin" enctype=multipart/form-data action="{{ url_for('submit_job') }}" method="POST">
            Token: <span id="token"></span><br>
            Job Name:<br>
            <input class="w3-input" type="text" name="jobTitle" id="jobTitle"><br>
            Command to run:<br>
            <input class="w3-input" type="text" name="command" id="command"><br>
            Files (Single .py only for now)<br>
            <input class="inputfile" type=file name="file" id="file" onchange="filelabel()">
            <label for="file" style="border-radius: 5px;" class="w3-button w3-blue" id="file-label"> Choose a file </label><br><br>
            <input class="w3-button w3-blue" type="submit">
        </form>
    </div>

    <h3>Running Jobs:</h3>
    <button class="w3-margin-bottom w3-button w3-blue" id="refresh">Refresh Table</button>

    <div class="w3-padding-16" id="job-table"></div>
    <script>
        // async function update_table() {
        //     while (true) {
        //         console.log($('.console-ele'));
        //         var boxes = $('.console-ele');
        //         for (var i = 0; i < boxes.length; i++) {
        //             if (boxes[i].is('visible')) {
        //                 console.log('visible')
        //             }
        //         }
        //         await sleep(10000);
        //     }
        // }
        // update_table();
    </script>
</div>

<script>
$(() => {
    $('#newjobform').hide();

    $('#newJob').on('click', () => {
        $.getJSON("{{ url_for('get_job_id') }}", {}, (data) => {
            $('#token').text(data.id);
        });
        $('#newjobform').toggle('slow');
    });

    $.get("{{ url_for('jobs_update') }}", {}, (data) => {
        $('#job-table').html(data)
    })

    $('#refresh').on('click', () => {
        $.post("{{ url_for('jobs_update') }}", {}, (data) => {
            $('#job-table').html(data)
        });
    }); 
});
</script>
{% endblock %}