{% extends "base.html" %}
{% block body %}

<h2>System Information:</h2>

<h4>Processor Core Count: {{ proc_count }}</h4>

<h3>Activiry Monitor:</h3>
<div class="col2-grid">
    <div class="col2-left">
        <canvas id="cpu" width="400" height="400"></canvas>
    </div>
    
    <div class="col2-right">
        <canvas id="memory" width="400" height="400"></canvas>
    </div>
</div>


<script>
$(() => {
    var ctx = $("#cpu");
    var cpu = new Chart(ctx, {
        type: 'line',
        data: {
            datasets: [{
                label: 'CPU Usage',
                pointRadius: 0,
                backgroundColor: 'rgba(0, 102, 255, 0.2)',
                borderColor: 'rgba(0, 102, 255, 1)',
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true,
                        max: 100
                    }
                }]
            },
            animation: {
                duration: 0
            }
        }
    });

    var ctx = $("#memory");
    var mem = new Chart(ctx, {
        type: 'line',
        data: {
            datasets: [{
                label: 'Memory Usage',
                pointRadius: 0,
                backgroundColor: 'rgba(255, 80, 80, 0.2)',
                borderColor: 'rgba(255, 80, 80, 1)',
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true,
                        max: 100
                    }
                }]
            },
            animation: {
                duration: 0
            }
        }
    });
    var d = new Date();

    function addData(chart, label, data) {
        var data_all = chart.data.datasets['0'].data;
        var data_len = data_all.length;
        if (data_len > 50) {
            chart.data.labels.splice(0, 1);
            chart.data.labels.push('');
            chart.data.datasets['0'].data.splice(0, 1);
            chart.data.datasets['0'].data.push(data);
        } else {
            chart.data.labels.push('');
            chart.data.datasets['0'].data.push(data);
        }
        chart.update();
    }

    function setData(chart, label, data) {
        chart.data.labels = [];
        chart.data.datasets['0'].data = [];
        data.forEach(function(val) {
            chart.data.labels.push('');
            chart.data.datasets['0'].data.push(val);
        });
        // console.log(chart.data.datasets['0'].data);
        chart.update();
    }

    async function update_info() {
        while(true) {
            $.getJSON($SCRIPT_ROOT + '/sys-info/update', {}, (data) => {
                setData(cpu, '', data.cpu);
                setData(mem, '', data.mem);
                // addData(cpu, '', data.cpu);
                // addData(mem, '', data.mem);
            });
            await sleep(2000);
        }   
    }
    update_info()
});
</script>
{% endblock %}